@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
    overflow-y: auto;
    overflow-x: hidden;
}

body {
    height: 100vh;
    margin: 0;
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
}

.segment-one, .footer {
    display: flex;
    flex-direction: column;
    color: white;
    background-color: #1F2937;
}

.logo {
    font-weight: 900;
    font-size: 24px;
    color: #F9FAF8;
}

ul {
    display: flex;
    gap: 15px;
    list-style: none;
}

li {
    font-size: 18px;
    color: #E5E7EB;
}

a{
    color: #E5E7EB;
    text-decoration: none;
}

.hero {
    font-family: Roboto, sans-serif;
    width: 400px;
    font-size: 48px;
    font-weight: 900;
    color: #F9FAF8;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    margin-bottom: 5px;
}

.hero-two{
    font-size: 18px;
    color: #E5E7EB;
    display: flex;
    width: 400px;
    flex-wrap: wrap;
    flex-shrink: 0;
    margin-bottom: 5px;
}

button {
    font-family: Roboto, sans-serif;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 8px;
    color: #F9FAF8;
    padding: 6px 24px;
    background-color: #3882F6;
}

.button-hero {
    margin-bottom: 0;
}

.img-highlight {
    border: none;
    border-radius: 4px;
    width: 450px;
    height: 200px;
}

.header {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 460px;
    flex: 1 0 0 ;
    padding: 0;
    margin-left: 200px;
    margin-right: 200px;
}

.highlight {
    margin: 40px;
    margin-bottom: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.content {
    font-family: Roboto, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: 40px;
    margin-bottom: 40px;
}

.content-header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    margin-bottom: 40px;
}

.content-info {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 25px;
}

.frame-info {
    width: 150px;
    border: 1;
    border-radius: 4px;
    border-color: #3882F6;
}

.frame-img {
    width: 150px;
    height: 150px;
    border: 1;
    border-style: solid;
    border-radius: 10px;
    border-color: #3882F6;
}

.info {
    width: auto;
    padding: 40px;
    background-color: #E5E7EB;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.info-quote {
    width: 600px;
    color: #1F2937;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: right;
    font-size: 36px;
    font-style: italic;
    font-weight: lighter;
    margin-bottom: 40px;
}

.info-by {
    display: flex;
    align-items: center;
    justify-content: right;
    font-weight: bold;
}

.footer {
    min-width: 72px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}